html {
  background-color: #333;
  color: #6feff9;
  font-family: "Ubuntu Mono", monospace;
}

li {
  list-style-type: none;
}

.warning {
  animation: warning 1s ease-in-out infinite;
  transform-origin: center center;
}

@keyframes warning {

  0% {
    transform: scale(.95, .95);
  }

  50% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(.95, .95);
  }

}

.action-tools-top,
.action-tools-bottom {
  display: flex;
  justify-content: center;
}

.labels {
  border: #6feff9 solid 1px;
  top: 0;
  right: 0;
  padding: .2rem .75rem;
  margin: 0;
}

.shadow {
  text-shadow: 1px 1px 10px #6feff9;
}

menu {
  padding: 0;
  margin: 0;
}

.action-tools-top {
  border-top: #6feff9 solid 1px;
  border-bottom: #6feff9 solid 1px;
  border-left: #6feff9 solid 1px;
  padding: .5rem;
}

.action-btn svg {
  color: #6feff9;
}

#yellow,
#red {
  animation: chart 1s ease-in;
}

@keyframes chart {

  to {
    stroke-dashoffset: 0px;
  }

}

.cctv-1 {
  animation: cctv-1 .25s infinite;
}

@keyframes cctv-1 {

  0% {
    fill: #828487;
  }

  100% {
    fill: #c4c6c8;
  }

}

.cctv-2 {
  animation: cctv-2 .15s infinite;
}

@keyframes cctv-2 {

  0% {
    fill: #c4c6c8;
  }

  100% {
    fill: #9d9fa2;
  }

}

.cctv-3 {
  animation: cctv-3 .25s infinite;
}

@keyframes cctv-3 {

  0% {
    fill: #9d9fa2;
  }

  100% {
    fill: #a9abae;
  }

}

.cctv-4 {
  animation: cctv-4 .15s infinite;
}

@keyframes cctv-4 {

  0% {
    fill: #a9abae;
  }

  100% {
    fill: #828487;
  }

}
