html {
  background-color: #333;
  color: #6feff9;
  font-family: "Ubuntu Mono", monospace;
}

li {
  list-style-type: none;
}

.action-tools-top,
.action-tools-bottom {
  display: flex;
  justify-content: center;
}
